Repository kartoza/kartoza-geoserver-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-build, go-vet, go-test, eslint, addlicense

gofmt:
  name: Go Format
  entry: gofmt
  args:
  - -l
  - -w
  language: system

go-build:
  name: Go Build
  entry: go build ./...
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: go vet ./...
  language: system
  pass_filenames: false

go-test:
  name: Go Tests
  entry: go test ./...
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/JavaScript)
  entry: npm run --prefix web lint
  language: system
  pass_filenames: false

addlicense:
  name: License Headers (Go)
  entry: addlicense
  args:
  - -l
  - mit
  - -c
  - Kartoza
  - -s=only
  language: golang
  additional_dependencies:
  - github.com/google/addlicense@v1.1.1

Add vscode launch configs
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  web/vite.config.ts
Due: eslint

Add vscode launch configs (#94)
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  web/vite.config.ts
Due: eslint

Add url-based navigation and UI updates
  web/src/App.tsx
  web/src/components/Dashboard.tsx
  web/src/components/Header.tsx
  web/src/components/SearchModal.tsx
  web/src/components/connection-tree/nodes/GeoServerRootNode.tsx
  web/src/components/connection-tree/nodes/PostgreSQLRootNode.tsx
  web/src/components/panels/S3StoragePanel.tsx
  web/src/stores/treeStore.ts
  web/src/theme.ts
  web/src/utils/nodeUrl.ts
Due: eslint

Add url-based navigation and UI updates (#95)
  web/src/App.tsx
  web/src/components/Dashboard.tsx
  web/src/components/Header.tsx
  web/src/components/SearchModal.tsx
  web/src/components/connection-tree/nodes/GeoServerRootNode.tsx
  web/src/components/connection-tree/nodes/PostgreSQLRootNode.tsx
  web/src/components/panels/S3StoragePanel.tsx
  web/src/stores/treeStore.ts
  web/src/theme.ts
  web/src/utils/nodeUrl.ts
Due: eslint

Implement chunked file upload functionality with progress tracking
  internal/api/uploads.go
  internal/webserver/handlers_chunked_upload.go
  internal/webserver/handlers_upload.go
  internal/webserver/server.go
  web/src/api/chunkedUpload.ts
  web/src/api/index.ts
  web/src/components/dialogs/UploadDialog.tsx
  web/src/hooks/useChunkedUpload.ts
Due: gofmt, go-build, go-vet, go-test, eslint, addlicense

Implement chunked file upload functionality with progress tracking (#96)
  internal/api/uploads.go
  internal/webserver/handlers_chunked_upload.go
  internal/webserver/handlers_upload.go
  internal/webserver/server.go
  web/src/api/chunkedUpload.ts
  web/src/api/index.ts
  web/src/components/dialogs/UploadDialog.tsx
  web/src/hooks/useChunkedUpload.ts
Due: gofmt, go-build, go-vet, go-test, eslint, addlicense

Fix integration test syntax and URL patterns
  tests/integration/test_geoserver_workflows.py
  tests/integration/test_postgres_workflows.py
  tests/integration/test_s3_workflows.py
  tests/tui/test_app.py
Due: none

Implement missing features and enable TUI tests
  apps/bridge/urls.py
  apps/bridge/views.py
  apps/geoserver/client.py
  apps/geoserver/urls.py
  apps/geoserver/views.py
  apps/geoserver/views/__init__.py
  apps/geoserver/views/base.py
  apps/geoserver/views/coverages.py
  apps/geoserver/views/coveragestores.py
  apps/geoserver/views/datastores.py
  apps/geoserver/views/featuretypes.py
  apps/geoserver/views/layergroups.py
  apps/geoserver/views/layers.py
  apps/geoserver/views/styles.py
  apps/geoserver/views/uploads.py
  apps/geoserver/views/workspaces.py
  apps/postgres/urls.py
  tests/integration/test_bridge_workflows.py
  tests/integration/test_geoserver_workflows.py
  tests/integration/test_postgres_workflows.py
  tests/integration/test_s3_workflows.py
  tests/tui/test_app.py
  tests/tui/test_widgets.py
Due: none

Add MkDocs documentation for Python/Django backend
  docs/about/changelog.md
  docs/about/license.md
  docs/admin-guide/deployment.md
  docs/admin-guide/docker.md
  docs/admin-guide/environment.md
  docs/dev-guide/api.md
  docs/dev-guide/architecture.md
  docs/dev-guide/contributing.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/user-guide/geoserver.md
  docs/user-guide/preview.md
  docs/user-guide/tui.md
  docs/user-guide/uploads.md
  docs/user-guide/web-ui.md
  mkdocs.yml
Due: none

Update styles
  web/src/components/Header.tsx
  web/src/components/Layout.tsx
  web/src/components/connection-tree/TreeNodeRow.tsx
  web/src/components/connection-tree/nodes/CloudBenchRootNode.tsx
  web/vite.config.ts
Due: eslint

Clean code
  apps/core/config.py
  apps/core/models.py
  apps/core/providers.py
  apps/core/utilities.py
Due: none

Update css
  web/src/components/connection-tree/nodes/CloudBenchRootNode.tsx
  web/src/stores/uiStore.ts
Due: eslint

Update gitignore
  .gitignore
Due: none

Add post load function
  apps/core/config.py
Due: none

Fix geonode views
  apps/bridge/views.py
  apps/connections/views.py
  apps/core/config.py
  apps/core/managers.py
  apps/core/utilities.py
  apps/dashboard/views.py
  apps/geonode/client.py
  apps/geonode/urls.py
  apps/geonode/utilities.py
  apps/geonode/views.py
  apps/geoserver/client.py
  apps/geoserver/views/coverages.py
  apps/geoserver/views/coveragestores.py
  apps/geoserver/views/datastores.py
  apps/geoserver/views/featuretypes.py
  apps/geoserver/views/layergroups.py
  apps/geoserver/views/layers.py
  apps/geoserver/views/styles.py
  apps/geoserver/views/uploads.py
  apps/geoserver/views/workspaces.py
  apps/gwc/client.py
  apps/preview/views.py
  apps/qgis/views.py
  apps/search/services.py
  apps/search/views.py
  apps/sync/services.py
  apps/sync/views.py
  apps/terria/views.py
  apps/upload/views.py
  web/src/components/connection-tree/ConnectionTree.tsx
  web/src/components/connection-tree/TreeNodeRow.tsx
  web/src/components/connection-tree/nodes/ConnectionNode.tsx
  web/src/components/connection-tree/nodes/GeoServerRootNode.tsx
  web/src/components/connection-tree/types.ts
Due: eslint

Add connection indicator
  web/src/components/OnlineStatusIndicator.tsx
  web/src/components/connection-tree/TreeNodeRow.tsx
  web/src/components/connection-tree/nodes/ConnectionNode.tsx
  web/src/components/connection-tree/nodes/GeoNodeConnectionNode.tsx
  web/src/components/connection-tree/types.ts
  web/src/hooks/useOnlineStatus.ts
Due: eslint

Handle workspace creation
  apps/geoserver/client.py
  apps/geoserver/views/base.py
  apps/geoserver/views/workspaces.py
  web/src/api/common.ts
  web/src/components/connection-tree/TreeNodeRow.tsx
Due: eslint

Fix preview
  apps/core/config.py
  apps/preview/urls.py
  apps/preview/views.py
  apps/terria/views.py
  cloudbench/urls.py
  web/src/hooks/useChunkedUpload.ts
Due: eslint

Fix geonode uploader
  apps/geonode/client.py
  apps/geonode/urls.py
  apps/geonode/views.py
  web/src/api/chunkedUpload.ts
  web/src/components/connection-tree/TreeNodeRow.tsx
  web/src/components/connection-tree/nodes/GeoNodeConnectionNode.tsx
  web/src/components/connection-tree/nodes/GeoNodeResourceCategoryNode.tsx
  web/src/components/dialogs/GeoNodeUploadDialog.tsx
Due: eslint

Add postgres connections
  apps/core/config.py
  apps/core/models.py
  apps/postgres/client.py
  apps/postgres/schema.py
  apps/postgres/service.py
  apps/postgres/views.py
  web/src/components/AIQueryPanel.tsx
  web/src/components/BridgeWizard.tsx
  web/src/components/GeoNodeMapPreview.tsx
  web/src/components/Globe3DPreview.tsx
  web/src/components/QueryDesigner.tsx
  web/src/components/SQLEditor.tsx
  web/src/components/SQLViewPublisher.tsx
  web/src/components/connection-tree/nodes/PGServiceNode.tsx
  web/src/components/dialogs/Globe3DDialog.tsx
  web/src/components/query-panel/hooks.ts
Due: eslint

Update postgres
  apps/postgres/client.py
  apps/postgres/views.py
  web/src/components/connection-tree/nodes/PGServiceNode.tsx
  web/src/hooks/useOnlineStatus.ts
Due: eslint

Fix postgres query
  apps/postgres/client.py
  apps/postgres/urls.py
  apps/postgres/views.py
  web/src/api/client.ts
  web/src/components/QueryDesigner.tsx
  web/src/components/connection-tree/nodes/PGServiceNode.tsx
  web/src/components/connection-tree/nodes/PostgreSQLRootNode.tsx
  web/src/components/connection-tree/types.ts
  web/src/components/dialogs/DataViewerDialog.tsx
  web/src/components/query-panel/ResultsPanel.tsx
  web/src/components/query-panel/hooks.ts
Due: eslint

Fix ogr2ogr api
  apps/postgres/urls.py
  apps/postgres/views.py
  web/src/api/client.ts
Due: eslint

Dockerize cloudbench
  .dockerignore
  .gitignore
  CLAUDE.md
  cloudbench/settings/base.py
  cloudbench/settings/testing.py
  cloudbench/urls.py
  deployment/.template.env
  deployment/Makefile
  deployment/docker-compose.override.yml
  deployment/docker-compose.yml
  deployment/docker/Dockerfile
  deployment/docker/entrypoint.sh
  deployment/docker/gunicorn.conf.py
  deployment/docker/requirements.txt
  deployment/nginx/sites-enabled/nginx.conf
  pyproject.toml
  web/src/types/index.ts
  web/vite.config.ts
Due: eslint

Update datastore form
  web/src/components/dashboards/DataStoresDashboard.tsx
  web/src/components/dialogs/PGStoreEditorDialog/PGDataStoreEditor/PGDataStorePostGIS.tsx
  web/src/components/dialogs/PGStoreEditorDialog/PGDataStoreEditor/index.tsx
  web/src/components/dialogs/PGStoreEditorDialog/index.tsx
  web/src/components/dialogs/PGStoreEditorDialog/types.ts
  web/src/components/dialogs/PGStoreEditorDialog/utils.ts
  web/src/components/dialogs/StoreDialog.tsx
  web/src/components/dialogs/index.tsx
  web/src/hooks/useOnlineStatus.ts
  web/src/types/index.ts
Due: eslint

Ads connect to postgis function on geoserver
  apps/geoserver/urls.py
  apps/geoserver/views/__init__.py
  apps/geoserver/views/datastores.py
  apps/postgres/client.py
  apps/postgres/urls.py
  apps/postgres/views.py
  web/src/api/client.ts
  web/src/api/stores.ts
  web/src/components/dashboards/DataStoresDashboard.tsx
  web/src/components/dialogs/GeoServerDataStoreEditorDialog/GeoServerDataStoreEditor/DataStorePostGIS.tsx
  web/src/components/dialogs/GeoServerDataStoreEditorDialog/GeoServerDataStoreEditor/index.tsx
  web/src/components/dialogs/GeoServerDataStoreEditorDialog/index.tsx
  web/src/components/dialogs/GeoServerDataStoreEditorDialog/types.ts
  web/src/components/dialogs/GeoServerDataStoreEditorDialog/utils.ts
  web/src/components/dialogs/GeoServerDataStorePGConnectDialog.tsx
  web/src/components/dialogs/index.tsx
  web/src/components/panels/WorkspacePanel.tsx
  web/src/stores/uiStore.ts
Due: eslint

Add flow to link geoserver to geonode
  apps/geonode/aaa.html
  apps/geonode/remote_service.py
  apps/geonode/urls.py
  apps/geonode/views.py
  web/src/api/client.ts
  web/src/components/MainContent.tsx
  web/src/components/connection-tree/nodes/GeoNodeConnectionNode.tsx
  web/src/components/connection-tree/nodes/GeoNodeRemoteServicesNode.tsx
  web/src/components/connection-tree/nodes/index.ts
  web/src/components/connection-tree/utils.ts
  web/src/components/dialogs/GeoNodeAddRemoteServiceDialog.tsx
  web/src/components/dialogs/index.tsx
  web/src/components/panels/GeoNodeRemoteServicesDetailPanel.tsx
  web/src/components/panels/GeoNodeRemoteServicesPanel.tsx
  web/src/components/panels/index.ts
  web/src/stores/uiStore.ts
  web/src/theme.ts
  web/src/types/index.ts
Due: eslint

Fix
  apps/geoserver/views/datastores.py
  web/src/components/MainContent.tsx
  web/src/components/dialogs/GeoServerDataStoreEditorDialog/GeoServerDataStoreEditor/index.tsx
  web/src/components/dialogs/GeoServerDataStoreEditorDialog/index.tsx
  web/src/components/dialogs/GeoServerDataStoreEditorDialog/types.ts
  web/src/components/panels/GeoNodeRemoteServicesDetailPanel.tsx
  web/src/components/panels/GeoNodeRemoteServicesPanel.tsx
  web/src/types/index.ts
Due: eslint

Fix connection tests
  apps/connections/views.py
  apps/geonode/urls.py
  apps/geonode/views.py
  web/src/components/connection-tree/nodes/ConnectionNode.tsx
  web/src/components/connection-tree/nodes/GeoNodeConnectionNode.tsx
  web/src/hooks/useOnlineStatus.ts
Due: eslint

Path conditions:
  gofmt: any of: \.go$ and not (^vendor/) and not ((?x)^(
  vendor/.*|
  web/public/assets/.*
)$
)
  go-build: any of: \.go$, but not: (?x)^(
  vendor/.*|
  web/public/assets/.*
)$

  go-vet: any of: \.go$, but not: (?x)^(
  vendor/.*|
  web/public/assets/.*
)$

  go-test: any of: \.go$, but not: (?x)^(
  vendor/.*|
  web/public/assets/.*
)$

  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: (?x)^(
  vendor/.*|
  web/public/assets/.*
)$

  addlicense: any of: \.go$ and not (^vendor/) and not ((?x)^(
  vendor/.*|
  web/public/assets/.*
)$
)
